*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-image: url('assets/social-preview.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

nav ul.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul.navbar li a {
    display: block;
    text-decoration: none;
    margin-top: 2rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 1.3rem;
    transition: background-color 0.3s, color 0.3s;
}

li.active a {
    background-color: #1e90ffb3 !important;
    color: #fff !important;
}

li a:hover:not(.active) {
    background-color: #1e90ffb3 !important;
    color: #fff !important;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

header h2 {
    font-size: 3.5rem;
    font-weight: normal;
}

main {
    padding: 2rem 1rem;
    background-color: #f9f9f9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.grid-item {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 340px;
}

.grid-item img {
    max-width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    object-fit: cover;
    filter: grayscale(100%);
}

.btn-section {
    position: relative;
}

.btn-view {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.btn-view:hover {
    background-color: rgba(30, 144, 255, 1);
}

.download-btn {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 6px 8px;
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: rgba(30, 144, 255, 1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(30, 144, 255, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(129, 134, 175, 0.5);
}

.modal-content:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.close {
  position: absolute;
  top: 20px; right: 30px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover { color: rgba(30, 144, 255, 1); }

    footer {
      background: #000;
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid #222;
    }

    .social-links {
      margin-bottom: 10px;
    }

    .social-links a {
      color: #ccc;
      font-size: 20px;
      margin: 0 10px;
      text-decoration: none;
      transition: 0.3s;
    }

    .social-links a:hover {
      color: #00bcd4;
    }

    footer p {
      font-size: 16px;
      color: #f1f1f1;
      margin: 16px 0 0;
    }

footer p a {
      color: #00bcd4;
      text-decoration: none;
    }

    footer p a:hover {
      text-decoration: underline;
    }

@media (max-width: 431px) {
  .grid-container { grid-template-columns: 1fr; }
  .grid-item { height: 280px; }
}

